# Compiled object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# Build directories
/build/
/bin/
/Debug/
/Release/

# IDE / editor files
*.swp
*.swo
*.log
*.tmp

# VSCode
.vscode/

# CLion / JetBrains
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
